* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}


#navbar-top {
    background-color: #132A13;
    padding: 10px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    color: white;
}

#nav-logo {
    height: 100px;
}

#navbar-top-right {
    display: flex;
    justify-content: flex-end;
}

#nav-phone {
    padding-right: 5vw;
    margin: auto;
    font-weight: 300;
}

#fb-logo {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

#navbar-bottom {
    background-color: #31572C;
    min-height: 5vh;
    padding: 15px 25px;
}

#hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
    width: 50px;
}

.nav-links1 {
    display: none;
}

.nav-links2 {
    display: flex;
    transition: transform 0.3s ease;
    color: white;
    justify-content: center;
    align-items: center;
    scale: 1.2;
}

.nav-links2 a {
    text-decoration: none;
    padding: 5px 15px;
    transition: transform 0.1s;
    color: #f7f7f7;
    position: relative;
}

.nav-links2 a:hover {
    transform: scale(1.1);
    background-color: #f7f7f7;
    color: #132A13;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    #hamburger {
        display: block; /* Show the hamburger menu */
    }

    #fb-logo, #navbar-bottom, #nav-phone {
        display: none; /* Hide the Facebook logo */
    }

    #nav-links1.active {
        display: flex;
        flex-direction: column; /* Arrange links vertically */
        width: 100%; /* Take up full width */
        text-align: center; /* Center align the links */
        position: absolute; /* Position it below the hamburger */
        top: 125px; /* Space between hamburger and nav */
        left: 0;
        background-color: #31572C;
        z-index: 100;
    }
        
    #nav-links1 a:hover {
        background-color: #f7f7f7;
        color: #132A13;
        border-radius: 5px;
    }


    #nav-links1 a {
        padding: 10px 0;
        text-decoration: none;
        color: #ffffff;
    }
}

@media screen and (min-width: 1001px) {
    #hamburger {
        display: none; /* Hide the hamburger menu on wider screens */
    }

    #fb-logo {
        display: block; /* Show the Facebook logo */
    }
}

#intro {
    padding: 50px 100px;
}

#intro h1 {
    text-align: center;
    font-size: 3rem;
    padding: 25px 0 50px 0;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section img {
    width: 25%;
    min-width: 250px;
}

#about-img-horizontal {
    display: none;
    width: 90%;
    margin: 40px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
}

#about-text p {
    padding: 20px 25px 20px 100px;
    font-size: 16px;
}

#i2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
}

@media (max-width: 1500px) {
    #about-text p {
        font-size: 14px;
    }

    #quick-links {
        display: none;
    }
}

@media (max-width: 1200px) {
    #about-text p {
        font-size: 16px;
        padding: 20px 50px;
    }

    #intro {
        padding: 50px;
    }

    .about-section img {
        display: none;
    }

    #about-img-horizontal {
        display: block;
    }

    .footer-logo img {
        height: 75px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        height: 80px;
    }
}

@media (max-width: 1000px) {
    #footer-contact h3 {
        font-size: 0.85rem;
    }

    #footer-contact p, #additional-offices-footer {
        font-size: 0.75rem;
    }
}

@media (max-width: 900px) {
    #about-text p {
        padding: 10px;
    }

    .footer-logo img {
        scale: 0.75;
    }

    footer {
        padding-left: 0;
    }
}

.footer {
    color: #ffffff;
    margin-top: 50px;
}

.container {
    margin: 0 auto;
}

.footer-section-1 {
    width: 20vw;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    height: 100px;
}

#footer-contact {
    max-width: 33%;
}

.contact-info-footer {
    display: flex;
    padding: 5px 0px;
}

.contact-info-footer img {
    width: 25px;
    height: 25px;
}

.contact-info-footer div {
    padding: 0px 15px;
    font-size: 0.9rem;
}

#additional-offices-footer {
    padding: 10px 0px;
    font-size: 0.8rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    background-color: #31572C;
    padding: 50px 100px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff;
    background-color: #132A13;
    padding: 25px 100px;
}

.footer-bottom a {
    text-decoration: none;
    color: #cccccc;
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: white;
}

.footer-bottom p {
    color: #cccccc;
}

.footer-bottom ul {
    display: flex;
    list-style: none;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-item-img {
    width: 25px;
    padding-right: 10px;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}