* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: ##f7f7f7;
}

#navbar-top {
    background-color: #125e1581;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
}

#nav-logo {
    width: 80px;
    height: 80px;
}

#navbar-top-right {
    display: flex;
    justify-content: flex-end;
}

#nav-phone {
    padding-right: 5vw;
    margin: auto;
}

#fb-logo {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin: 10px;
}

#navbar-bottom {
    background-color: #125e154c;
    min-height: 5vh;
    padding: 15px 25px;
}

#hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    transition: transform 0.3s ease;
    color: black;
    justify-content: center;
    align-items: center;
    scale: 1.2;
}

.nav-links a {
    text-decoration: none;
    padding: 5px 15px;
    transition: transform 0.1s;
    color: black;
    position: relative;
}

.nav-links a:hover {
    transform: scale(1.1);
    background-color: #125e15;
    color: white;
    border-radius: 5px;
}

#intro {
    display: flex;
    height: 77.5vh;
}

#intro-left {
    min-width: 50%;
}

#intro-left img {
    width: 100%;
    height: 100%;
}

#intro-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

#intro-right h1 {
    font-size: 4rem;
    width: 75%;
}

#about {
    background-color: #125e1510;
    padding: 125px 250px;
}

#about h2 {
    font-size: 2rem;
    padding-bottom: 40px;
}

#about p {
    font-size: 1.1rem;
    padding-bottom: 20px;
}

#about button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #125e15;
    color: black;
    background-color: white;
}

#about button:hover {
    transform: scale(1.05);
    background-color: #125e15;
    color: white;
    border-radius: 5px;
    transition: transform 0.1s ease;
}

#services {
    padding: 125px 250px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services h2 {
    font-size: 2rem;
}